<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sammy.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/meal"
        android:label="Super Menu"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="註冊"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="逢甲美食"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OrderActivity"
            android:label="菜單"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LeaderboardActivity"
            android:label="@string/title_activity_leaderboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RamdomActivity"
            android:label="@string/title_activity_ramdom"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AroundActivity"
            android:label="@string/title_activity_around"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MealListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CartlistActivity"
            android:label="訂單查詢"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddFoodActivity"
            android:label="@string/title_activity_add_food"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountActivity"
            android:label="@string/title_activity_account"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
